.yellow-label {
}

.no-shrink {
    flex-grow: 0;
}

.no-padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
